<project>
  <files
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="CSS"/>
        <filter
          name="Html"/>
        <filter
          name="Java"/>
        <filter
          name="Javascript"/>
        <filter
          name="Php"/>
        <filter
          name="TypeScript"/>
        <filter
          name="Xml"/>
      </watched>
      <dir
        name="ruoyi-api">
        <dir
          name="ruoyi-api-system">
          <dir
            name="src">
            <dir
              name="main">
              <dir
                name="java">
                <dir
                  name="com">
                  <dir
                    name="ruoyi">
                    <dir
                      name="system">
                      <dir
                        name="api">
                        <dir
                          name="domain"/>
                        <dir
                          name="factory"/>
                        <dir
                          name="model"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="ruoyi-auth">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="com">
                <dir
                  name="ruoyi">
                  <dir
                    name="auth">
                    <dir
                      name="controller"/>
                    <dir
                      name="form"/>
                    <dir
                      name="service"/>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="resources"/>
          </dir>
        </dir>
      </dir>
      <dir
        name="ruoyi-common">
        <dir
          name="ruoyi-common-core">
          <dir
            name="src">
            <dir
              name="main">
              <dir
                name="java">
                <dir
                  name="com">
                  <dir
                    name="ruoyi">
                    <dir
                      name="common">
                      <dir
                        name="core">
                        <dir
                          name="annotation"/>
                        <dir
                          name="constant"/>
                        <dir
                          name="context"/>
                        <dir
                          name="domain"/>
                        <dir
                          name="enums"/>
                        <dir
                          name="exception">
                          <dir
                            name="auth"/>
                          <dir
                            name="base"/>
                          <dir
                            name="file"/>
                          <dir
                            name="job"/>
                          <dir
                            name="user"/>
                        </dir>
                        <dir
                          name="text"/>
                        <dir
                          name="utils">
                          <dir
                            name="bean"/>
                          <dir
                            name="file"/>
                          <dir
                            name="html"/>
                          <dir
                            name="ip"/>
                          <dir
                            name="poi"/>
                          <dir
                            name="reflect"/>
                          <dir
                            name="sign"/>
                          <dir
                            name="sql"/>
                          <dir
                            name="uuid"/>
                        </dir>
                        <dir
                          name="web">
                          <dir
                            name="controller"/>
                          <dir
                            name="domain"/>
                          <dir
                            name="page"/>
                        </dir>
                        <dir
                          name="xss"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
        <dir
          name="ruoyi-common-datascope">
          <dir
            name="src">
            <dir
              name="main">
              <dir
                name="java">
                <dir
                  name="com">
                  <dir
                    name="ruoyi">
                    <dir
                      name="common">
                      <dir
                        name="datascope">
                        <dir
                          name="annotation"/>
                        <dir
                          name="aspect"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
        <dir
          name="ruoyi-common-datasource">
          <dir
            name="src">
            <dir
              name="main">
              <dir
                name="java">
                <dir
                  name="com">
                  <dir
                    name="ruoyi">
                    <dir
                      name="common">
                      <dir
                        name="datasource">
                        <dir
                          name="annotation"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
        <dir
          name="ruoyi-common-log">
          <dir
            name="src">
            <dir
              name="main">
              <dir
                name="java">
                <dir
                  name="com">
                  <dir
                    name="ruoyi">
                    <dir
                      name="common">
                      <dir
                        name="log">
                        <dir
                          name="annotation"/>
                        <dir
                          name="aspect"/>
                        <dir
                          name="enums"/>
                        <dir
                          name="filter"/>
                        <dir
                          name="service"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
        <dir
          name="ruoyi-common-redis">
          <dir
            name="src">
            <dir
              name="main">
              <dir
                name="java">
                <dir
                  name="com">
                  <dir
                    name="ruoyi">
                    <dir
                      name="common">
                      <dir
                        name="redis">
                        <dir
                          name="configure"/>
                        <dir
                          name="service"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
        <dir
          name="ruoyi-common-seata"/>
        <dir
          name="ruoyi-common-security">
          <dir
            name="src">
            <dir
              name="main">
              <dir
                name="java">
                <dir
                  name="com">
                  <dir
                    name="ruoyi">
                    <dir
                      name="common">
                      <dir
                        name="security">
                        <dir
                          name="annotation"/>
                        <dir
                          name="aspect"/>
                        <dir
                          name="auth"/>
                        <dir
                          name="config"/>
                        <dir
                          name="feign"/>
                        <dir
                          name="handler"/>
                        <dir
                          name="interceptor"/>
                        <dir
                          name="service"/>
                        <dir
                          name="utils"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
        <dir
          name="ruoyi-common-sensitive">
          <dir
            name="src">
            <dir
              name="main">
              <dir
                name="java">
                <dir
                  name="com">
                  <dir
                    name="ruoyi">
                    <dir
                      name="common">
                      <dir
                        name="sensitive">
                        <dir
                          name="annotation"/>
                        <dir
                          name="config"/>
                        <dir
                          name="enums"/>
                        <dir
                          name="utils"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
        <dir
          name="ruoyi-common-swagger">
          <dir
            name="src">
            <dir
              name="main">
              <dir
                name="java">
                <dir
                  name="com">
                  <dir
                    name="ruoyi">
                    <dir
                      name="common">
                      <dir
                        name="swagger">
                        <dir
                          name="config">
                          <dir
                            name="properties"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="ruoyi-gateway">
        <dir
          name="src">
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="com">
                <dir
                  name="ruoyi">
                  <dir
                    name="gateway">
                    <dir
                      name="config">
                      <dir
                        name="properties"/>
                    </dir>
                    <dir
                      name="filter"/>
                    <dir
                      name="handler"/>
                    <dir
                      name="service">
                      <dir
                        name="impl"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="resources"/>
          </dir>
        </dir>
      </dir>
      <dir
        name="ruoyi-modules">
        <dir
          name="ruoyi-file">
          <dir
            name="src">
            <dir
              name="main">
              <dir
                name="java">
                <dir
                  name="com">
                  <dir
                    name="ruoyi">
                    <dir
                      name="file">
                      <dir
                        name="config"/>
                      <dir
                        name="controller"/>
                      <dir
                        name="filter"/>
                      <dir
                        name="service"/>
                      <dir
                        name="utils"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="resources"/>
            </dir>
          </dir>
        </dir>
        <dir
          name="ruoyi-gen">
          <dir
            name="src">
            <dir
              name="main">
              <dir
                name="java">
                <dir
                  name="com">
                  <dir
                    name="ruoyi">
                    <dir
                      name="gen">
                      <dir
                        name="config"/>
                      <dir
                        name="controller"/>
                      <dir
                        name="domain"/>
                      <dir
                        name="mapper"/>
                      <dir
                        name="service"/>
                      <dir
                        name="util"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="resources">
                <dir
                  name="mapper">
                  <dir
                    name="generator"/>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
        <dir
          name="ruoyi-job">
          <dir
            name="src">
            <dir
              name="main">
              <dir
                name="java">
                <dir
                  name="com">
                  <dir
                    name="ruoyi">
                    <dir
                      name="job">
                      <dir
                        name="config"/>
                      <dir
                        name="controller"/>
                      <dir
                        name="domain"/>
                      <dir
                        name="mapper"/>
                      <dir
                        name="service"/>
                      <dir
                        name="task"/>
                      <dir
                        name="util"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="resources">
                <dir
                  name="mapper">
                  <dir
                    name="job"/>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
        <dir
          name="ruoyi-system">
          <dir
            name="src">
            <dir
              name="main">
              <dir
                name="java">
                <dir
                  name="com">
                  <dir
                    name="ruoyi">
                    <dir
                      name="system">
                      <dir
                        name="controller"/>
                      <dir
                        name="domain">
                        <dir
                          name="vo"/>
                      </dir>
                      <dir
                        name="mapper"/>
                      <dir
                        name="service">
                        <dir
                          name="impl"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="resources">
                <dir
                  name="mapper">
                  <dir
                    name="system"/>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="ruoyi-ui">
        <dir
          name="build"/>
        <dir
          name="public">
          <dir
            name="html"/>
          <dir
            name="styles">
            <dir
              name="theme-chalk"/>
          </dir>
        </dir>
        <dir
          name="src">
          <dir
            name="api">
            <dir
              name="monitor"/>
            <dir
              name="system">
              <dir
                name="dict"/>
            </dir>
            <dir
              name="tool"/>
          </dir>
          <dir
            name="assets">
            <dir
              name="icons"/>
          </dir>
          <dir
            name="components">
            <dir
              name="DictData"/>
            <dir
              name="IconSelect"/>
          </dir>
          <dir
            name="directive">
            <dir
              name="dialog"/>
            <dir
              name="module"/>
            <dir
              name="permission"/>
          </dir>
          <dir
            name="layout">
            <dir
              name="components">
              <dir
                name="Sidebar"/>
            </dir>
            <dir
              name="mixin"/>
          </dir>
          <dir
            name="plugins"/>
          <dir
            name="router"/>
          <dir
            name="store">
            <dir
              name="modules"/>
          </dir>
          <dir
            name="utils">
            <dir
              name="dict"/>
            <dir
              name="generator"/>
          </dir>
          <dir
            name="views">
            <dir
              name="dashboard">
              <dir
                name="mixins"/>
            </dir>
          </dir>
        </dir>
      </dir>
      <dir
        name="ruoyi-visual">
        <dir
          name="ruoyi-monitor">
          <dir
            name="src">
            <dir
              name="main">
              <dir
                name="java">
                <dir
                  name="com">
                  <dir
                    name="ruoyi">
                    <dir
                      name="modules">
                      <dir
                        name="monitor">
                        <dir
                          name="config"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="resources"/>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
    <language
      name="Web"/>
    <language_options
      useLanguagesAsFilter="true"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <codecheck_options/>
  <comparison_options
    comparison_db=""
    git_repo="./."
    git_commit=""
    diff_flags="1"/>
  <dependency_options
    exclude_standard="true"
    use_includes="true"
    mode="link"/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    use_spring="false"
    version="Java5"/>
  <metrics
    declared_in_file_display_mode="no_path"
    file_display_mode="no_path"
    output_file="./../../rouyi-metriche/base/rouyi-understand-base.csv"
    show_declared_in_file="false"
    show_function_parameter_types="false"
    write_column_titles="true"
    add_uniquename_column="false"
    metric_filter="28532">
    <metric
      name="AvgCountLine"/>
    <metric
      name="AvgCountLineBlank"/>
    <metric
      name="AvgCountLineCode"/>
    <metric
      name="AvgCountLineComment"/>
    <metric
      name="AvgCyclomatic"/>
    <metric
      name="CCViolDensityCode"/>
    <metric
      name="CCViolDensityLine"/>
    <metric
      name="CountCCViol"/>
    <metric
      name="CountCCViolType"/>
    <metric
      name="CountClassBase"/>
    <metric
      name="CountClassCoupled"/>
    <metric
      name="CountClassCoupledModified"/>
    <metric
      name="CountClassDerived"/>
    <metric
      name="CountDeclClass"/>
    <metric
      name="CountDeclClassMethod"/>
    <metric
      name="CountDeclClassVariable"/>
    <metric
      name="CountDeclExecutableUnit"/>
    <metric
      name="CountDeclFile"/>
    <metric
      name="CountDeclFunction"/>
    <metric
      name="CountDeclInstanceMethod"/>
    <metric
      name="CountDeclInstanceVariable"/>
    <metric
      name="CountDeclInstanceVariablePrivate"/>
    <metric
      name="CountDeclInstanceVariableProtected"/>
    <metric
      name="CountDeclInstanceVariablePublic"/>
    <metric
      name="CountDeclMethod"/>
    <metric
      name="CountDeclMethodAll"/>
    <metric
      name="CountDeclMethodDefault"/>
    <metric
      name="CountDeclMethodPrivate"/>
    <metric
      name="CountDeclMethodProtected"/>
    <metric
      name="CountDeclMethodPublic"/>
    <metric
      name="CountInput"/>
    <metric
      name="CountLine"/>
    <metric
      name="CountLineBlank"/>
    <metric
      name="CountLineCode"/>
    <metric
      name="CountLineCodeDecl"/>
    <metric
      name="CountLineCodeExe"/>
    <metric
      name="CountLineComment"/>
    <metric
      name="CountOutput"/>
    <metric
      name="CountSemicolon"/>
    <metric
      name="CountStmt"/>
    <metric
      name="CountStmtDecl"/>
    <metric
      name="CountStmtExe"/>
    <metric
      name="Cyclomatic"/>
    <metric
      name="MaxCyclomatic"/>
    <metric
      name="MaxInheritanceTree"/>
    <metric
      name="MaxNesting"/>
    <metric
      name="PercentLackOfCohesion"/>
    <metric
      name="PercentLackOfCohesionModified"/>
    <metric
      name="RatioCommentToCode"/>
    <metric
      name="SumCyclomatic"/>
  </metrics>
  <reports
    date_stamping="false"
    display_parameters="false"
    index_by_method="false"
    group_by_directory="false"
    filename_mode="short"
    generation_status="needs_generation"
    generation_time="0"
    html_clear_directory="false"
    html_generation="true"
    html_mode="alpha"
    headertext_mode="false"
    headerusertext_mode="false"
    headertext_text="Report generated by Understand"
    headerusertext_text=""
    html_size="250"
    text_clear_directory="false"
    text_generation="true"
    text_mode="single">
    <report
      name="Data Dictionary"
      enabled="true"/>
    <report
      name="File Contents"
      enabled="true"/>
    <report
      name="Program Unit Cross Reference"
      enabled="true"/>
    <report
      name="Object Cross Reference"
      enabled="true"/>
    <report
      name="Type Cross Reference"
      enabled="true"/>
    <report
      name="Macro Cross Reference"
      enabled="true"/>
    <report
      name="Include File Cross Reference"
      enabled="true"/>
    <report
      name="Declaration Tree"
      enabled="true"/>
    <report
      name="Extend Tree"
      enabled="false"/>
    <report
      name="Invocation Tree"
      enabled="false"/>
    <report
      name="Simple Invocation Tree"
      enabled="true"/>
    <report
      name="Imports"
      enabled="true"/>
    <report
      name="With Tree"
      enabled="true"/>
    <report
      name="Simple With Tree"
      enabled="true"/>
    <report
      name="Generic Instantiation"
      enabled="true"/>
    <report
      name="Exception Cross Reference"
      enabled="true"/>
    <report
      name="Renames"
      enabled="true"/>
    <report
      name="Program Unit Complexity"
      enabled="true"/>
    <report
      name="Project Metrics"
      enabled="true"/>
    <report
      name="Program Unit Metrics"
      enabled="true"/>
    <report
      name="File Metrics"
      enabled="true"/>
    <report
      name="File Average Metrics"
      enabled="true"/>
    <report
      name="Fortran Extension Usage"
      enabled="true"/>
    <report
      name="Class Metrics"
      enabled="true"/>
    <report
      name="Class OO Metrics"
      enabled="true"/>
    <report
      name="Implicitly Declared Objects"
      enabled="true"/>
    <report
      name="Uninitialized Items"
      enabled="true"/>
    <report
      name="Unused Objects and Functions"
      enabled="true"/>
    <report
      name="Unused Objects"
      enabled="true"/>
    <report
      name="Unused Types"
      enabled="true"/>
    <report
      name="Unused Program Units"
      enabled="true"/>
    <report
      name="Uses Not Needed"
      enabled="true"/>
    <report
      name="Withs Not Needed"
      enabled="true"/>
  </reports>
  <web_options
    add_found_imported_js_files="true"
    allow_asp_style_php_tags="false"
    allow_jquery="false"
    allow_node_js="false"
    allow_short_php_tags="true"
    js_module_search_path=""
    node_js_predefined_config_file="$CONF:/understand/javascript/nodejs_predefined.txt"
    node_js_search_path=""
    save_php_comments="true"
    search_strings_for_entity_names="false"
    php_version="8.3"/>
</project>
